In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
from dataLoader import DataLoader
from ner import evaluator, pubtator

input_path = 'input/BioASQ-trainingDataset6b.json'
data = DataLoader(input_path)

## Pubtator Tagger

In [3]:
pubtator_results = evaluator.evaluate(pubtator.get_bio_concepts_multiple, data, multiple=True)[0]

100%|██████████| 1104/1104 [16:51<00:00,  1.09it/s]

In [3]:
# pubtator_results.to_csv('pubtator_results.csv', encoding='utf-8', index=False)
# pubtator_results = pd.read_csv('pubtator_results.csv', encoding='utf-8')

# pubtator_results.to_pickle('pubtator_results')
pubtator_results = pd.read_pickle('pubtator_results')
pubtator_results.head()

,answers,entities,exact_matches,qid,soft_matches,total_answers,total_entities,type
0,"[epidermal growth factor, betacellulin, epireg...","[a-sma, a>g, adam17, aggressiveness of the tum...",4,1,5,7,122,list
1,"[let-7a, let-7b, let-7i, mir-21, mir-26a, mir-...","[22-nucleotide, advanced-stage ovarian serous ...",16,6,17,20,68,list
2,"[neostigmine, pyridostigmine]","[acetylcholine, acetylcholinesterase, ache, au...",2,7,2,2,37,list
3,"[dvl-1, dvl-2, dvl-3]","[amino acid, amino-acid, beta-catenin, breast ...",3,9,3,3,48,list
4,"[class i: sodium channel blockers, classii: be...","[acquired qt syndrome, amiodarone, arrhythmia,...",0,11,3,4,21,list

In [7]:
evaluator.summary_from_results(pubtator_results, data)

,type,exact_matched_questions,soft_match_questions,exact_matched_answers,soft_match_answers,n_entities/total_tokens
0,list,0.679752,0.880165,0.449118,0.740163,0.468765
1,factoid,0.320490,0.721541,0.316891,0.723468,0.522726

In [28]:
pubtator_results[pubtator_results.type == 'factoid'].head()

,answers,entities,exact_matches,soft_matches,total_answers,total_entities,type
484,[bazex syndrome],"[acral psoriasiform lesions, acrokeratosis, ac...",1,1,1,75,factoid
485,[castration-resistant prostate cancer],"[(+)-3c, (s)-warfarin, 6,7-dihydro-5h-pyrrolo[...",1,1,1,70,factoid
486,[glycosyltransferase 8 domain containing 1],"[bisulfite, c6orf136, cancer, chpf, flna, foxm...",0,0,1,23,factoid
487,[plasma membrane],"[adenosine, adenosine triphosphate, adp, amino...",0,1,1,55,factoid
488,[autosomal recessive],"[acute or chronic hepatitis, alanine, ammonium...",0,1,1,67,factoid

## CNN Gram Tagger

In [3]:
from ner.gram import evaluate_sentence

 [*] Loading GRAMCNN tensorflow model (3min)...
 [*] Loading checkpoints...
 [*] Finished loading.

In [9]:
evaluate_sentence(data.questions[0].snippets[0].doc_id, data.questions[0].snippets[0].text)

In [11]:
cnn_gram_results = evaluator.evaluate(evaluate_sentence, data, snippets=True)

100%|██████████| 1104/1104 [20:39<00:00,  1.12s/it]

In [8]:
# cnn_gram_results.to_pickle('cnn_gram_results')
# cnn_gram_results.to_csv('cnn_gram_results.csv', encoding='utf-8', index=False)
# cnn_gram_results = pd.read_csv('cnn_gram_results.csv', encoding='utf-8')

cnn_gram_results = pd.read_pickle('cnn_gram_results')
cnn_gram_results = evaluator.clean_entities(cnn_gram_results, data)

In [9]:
evaluator.summary_from_results(cnn_gram_results, data)

,type,exact_matched_questions,soft_match_questions,exact_matched_answers,soft_match_answers,n_entities/total_tokens
0,list,0.739040,1.00000,0.490365,0.987268,0.949594
1,factoid,0.349026,0.99026,0.320937,0.984848,0.949673

In [24]:
cnn_gram_results[cnn_gram_results.type == 'factoid'].head()

,answers,entities,exact_matches,qid,soft_matches,total_answers,total_entities,type
479,[bazex syndrome],"[&, ', 's, (, ), ,, ., .method, 1, 102:301-306...",0,10,1,1,199,factoid
480,[castration-resistant prostate cancer],"[%, (, ), +, ,, --, -3c, ., 0.00001, 0.0001, 0...",0,14,1,1,242,factoid
481,[glycosyltransferase 8 domain containing 1],[],0,16,0,1,0,factoid
482,[plasma membrane],"['', (, ), ,, ., ;, ``, a, activation, and, ar...",0,19,1,1,148,factoid
483,[autosomal recessive],"[%, 's, (, ), ,, ., 11, 12, 13, 16, 1:1, 20, 2...",0,22,1,1,155,factoid

## LingPipe Tagger

In [14]:
from ner.lingpipe import NER_tagger_multiple

In [16]:
lingpipe_results = evaluator.evaluate(NER_tagger_multiple, data, multiple=True, snippets=True)

100%|██████████| 1104/1104 [19:42<00:00,  1.07s/it]

In [10]:
# lingpipe_results.to_csv('lingpipe_results.csv', encoding='utf-8', index=False)
# lingpipe_results = pd.read_csv('lingpipe_results.csv', encoding='utf-8')

# lingpipe_results.to_pickle('lingpipe_results')
lingpipe_results = pd.read_pickle('lingpipe_results')

In [11]:
evaluator.summary_from_results(lingpipe_results, data)

,type,exact_matched_questions,soft_match_questions,exact_matched_answers,soft_match_answers,n_entities/total_tokens
0,list,0.656250,0.939583,0.323409,0.737851,0.121017
1,factoid,0.266667,0.767480,0.249655,0.760000,0.110632

In [18]:
lingpipe_results[lingpipe_results.type == 'factoid'].head()

,answers,entities,exact_matches,qid,soft_matches,total_answers,total_entities,type
480,[bazex syndrome],"[apb, bazex, bazex et al. acrokeratosis, bazex...",0,10,1,1,21,factoid
481,[castration-resistant prostate cancer],"[a naphthylmethylimidazole, abiraterone, andro...",0,14,1,1,31,factoid
482,[glycosyltransferase 8 domain containing 1],[],0,16,0,1,0,factoid
483,[plasma membrane],"[atp, cones, cytoplasm, glutamate, ions, molec...",0,19,0,1,15,factoid
484,[autosomal recessive],"[atp7b gene mutation, autosomal, caeruloplasmi...",0,22,1,1,10,factoid

## Ensemble

In [3]:
pubtator_results = pd.read_pickle('pubtator_results')
lingpipe_results = pd.read_pickle('lingpipe_results')
cnn_gram_results = pd.read_pickle('cnn_gram_results')
cnn_gram_results = evaluator.clean_entities(cnn_gram_results, data)

results = [pubtator_results, lingpipe_results, cnn_gram_results]

In [4]:
typ = 'union'
ensemble = evaluator.ensemble_tags(results, typ=typ)
ensemble_union = evaluator.clean_entities(ensemble, data)

typ = 'intersection'
ensemble = evaluator.ensemble_tags(results, typ=typ)
ensemble_intersection = evaluator.clean_entities(ensemble, data)

In [5]:
evaluator.summary_from_results(ensemble_union, data)

,type,exact_matched_questions,soft_match_questions,exact_matched_answers,soft_match_answers,n_entities/total_tokens
0,list,0.851240,1.000000,0.626866,0.990502,1.365356
1,factoid,0.490368,0.996497,0.473842,0.992526,1.415299

In [6]:
evaluator.summary_from_results(ensemble_intersection, data)

,type,exact_matched_questions,soft_match_questions,exact_matched_answers,soft_match_answers,n_entities/total_tokens
0,list,0.458678,0.628099,0.198440,0.350746,0.041838
1,factoid,0.162872,0.380035,0.153961,0.370703,0.033325

In [12]:
lingpipe_results.head()

,answers,entities,exact_matches,qid,soft_matches,total_answers,total_entities,type
0,"[epidermal growth factor, betacellulin, epireg...","[(tgfα, [tgf-α], alpha, among egfr ligands, am...",4,1,5,7,29,list
1,"[let-7a, let-7b, let-7i, mir-21, mir-26a, mir-...","[(mir, and, carcinogenesis, e-cadherin, eoc, e...",1,6,19,20,26,list
2,"[neostigmine, pyridostigmine]","[acetylcholinesterase, ache, euroqol, gravis (...",1,7,1,2,14,list
3,"[dvl-1, dvl-2, dvl-3]","[canonical wnt, dishevelled, drosophila dsh, d...",1,9,3,3,23,list
4,"[class i: sodium channel blockers, classii: be...","[action, amiodarone, b, beta, beta-adrenergic ...",0,11,4,4,20,list